body {
    font-family: 'Tahoma', sans-serif;
    background: #fdfaf4;
    margin: 0;
    padding: 0;
    direction: rtl;
}
header {
    background: #397d54;
    color: white;
    text-align: center;
    padding: 20px 10px;
}
main {
    padding: 20px;
}
h2 {
    color: #397d54;
}
.product {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.product img {
    width: 100px;
    height: 100px;
    margin-left: 15px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #ccc;
}
footer {
    background: #eee;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
